main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100vh - 78px - 48px);
  }
  

section {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    animation: fadeIn 1s;
}

footer {
    position: relative;
}

#answerButtonOne{
    display: flex;
    flex-wrap: wrap;
    width:350px;
    height: 200px;
    white-space: normal;
    margin: 20px;
}

#answerButtonTwo{
    display: none;
    width: 400px;
    white-space: normal;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    position: relative;
    height: 400px;
    width: 950px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between
  }
  
  .sidebar {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

.progress-container {
    width: 40px;
    height: 500px;
    background-color: darkgray;
    border-radius: 20px;
    margin: 20px 0;
    position: relative;
}

.progress-bar {
    width: 100%;
    border-radius: 20px;
    background-color: #4caf50;
    text-align: center;
    color: white;
    transition: height 0.5s;
    position: absolute;
    top: 0;
    
    
}

#animalShowcase{

}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar, .main-content {
        width: 100%;
    }
}
