html, body {
    height: 100%;    
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    
    display: flex;
    flex:1;
    flex-wrap: wrap;
    flex-direction: row;
    
  }
  

section {
    position: relative;
    display: flex;
    margin: 0 auto;
    
    text-align: center;
    animation: fadeIn 1s;
    
}

.main-content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    
  
}

footer {
    position: relative;
    
    width: 100%;
    padding: 1rem 0;

}

#answerButtonOne{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    white-space: normal;
    margin: 20px;
    box-sizing: border-box;
}

#answerButtonTwo{
    display: none;
    width: 250px;
    white-space: normal;
    flex-wrap: wrap;
    margin: 20px;
    box-sizing: border-box;
}

.card {
    position: relative;
    display: flex;
    height: 400px;
    width: 950px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between
  }
  
  .sidebar {
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
   
}

.progress-container {
    width: 40px;
    height: 500px;
    background-color: darkgray;
    border-radius: 20px;
    margin: 20px 0;
    position: relative;
    
}

.progress-bar {
    width: 100%;
    border-radius: 20px;
    background-color: #52c2af;
    text-align: center;
    color: white;
    transition: height 0.5s;
    position: absolute;
    top: 0;
    
    
}

#previousAnimalSidebar {
    flex-direction: column;
    margin: 30px;
    display: flex;
}

.animalShowcase{
   
    display:flex;
    justify-content: center;
    text-align: center;
   
}

.card{
    word-wrap: break-word;
    font-size: 2.5rem;
}

@media screen and (max-width: 1840px) {
    #answerButtonOne {
        font-size: 1.1rem;
        padding: 0.4em 0.6em;
        width: 150px;
    }
    #answerButtonTwo {
        font-size: 1.1rem;
        padding: 0.4em 0.6em;
        width: 150px;
    }
    #questionText{
        font-size: 1.3rem;
    }
   .sidebar{
        width: 25%;
   }
    .main-content{
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    #answerButtonOne {
        font-size: 0.7rem;
        padding: 0.3em 0.65em;
        width: 110px;
    }
    #answerButtonTwo {
        font-size: 0.7rem;
        padding: 0.3em 0.65em;
        width: 110px;
    }
   #questionText{
        font-size: 0.9rem;
    }
    .sidebar{
        width: 25%;
   }
    
    .main-content{
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    #answerButtonOne {
        font-size: 1rem;
        padding: 0.3em 0.6em;
        width: 100px;
    }
    #answerButtonTwo {
        font-size: 1rem;
        padding: 0.3em 0.6em;
        width: 100px;
    }
    #questionText{
        font-size: 0.7rem;
    }
    .sidebar{
        display: none;
   }
    
    .main-content{
        width: 100%;
    }
}


@media screen and (max-width: 576px) {
    #answerButtonOne {
        font-size: 1rem;
        padding: 0.3em 0.6em;
        width: 100px;
    }
    #answerButtonTwo {
        font-size: 1rem;
        padding: 0.3em 0.6em;
        width: 100px;
    }
    #questionText{
        font-size: 0.65rem;
    }
    .sidebar{
        display: none;
   }
    
    .main-content{
        width: 100%;
    }
}
